<body style="background-color: black;">
    <h1 class="font-bold text-center text-3xl my-6" style="color:white">Catalogo de productos</h1>
    <div class="container mx-auto grid md: grid-cols-2 xl:grid-cols-3 gap-4 ">

      <div class="rounded overflow-hidden shadow-lg">
        <img class="w-full" src="/images/Mueble01.jpg" alt="Sunset in the mountains">
        <div style="color: white; background-color: #ff0000c7;" class="px-6 py-4">
          <div class="font-bold text-xl mb-2">The Coldest Sunset</div>
          <p class="text-white text-base">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis
            eaque, exercitationem praesentium nihil.
          </p>
        </div>
        <div class="px-6 pt-4 pb-2">
          <span style="background-color: #ff0000c7;"
            class="inline-block rounded-full px-3 py-1 text-sm font-semibold text-white mr-2 mb-2">#photography</span>
          <span style="background-color: #ff0000c7;"
            class="inline-block rounded-full px-3 py-1 text-sm font-semibold text-white mr-2 mb-2">#travel</span>
          <span style="background-color: #ff0000c7;"
            class="inline-block rounded-full px-3 py-1 text-sm font-semibold text-white mr-2 mb-2">#winter</span>
        </div>
      </div>

      <div class="rounded overflow-hidden shadow-lg">
        <img class="w-full" src="/images/Mueble02.jpg" alt="Sunset in the mountains">
        <div style="color: white; background-color: #ff0000c7;" class="px-6 py-4">
          <div class="font-bold text-xl mb-2">The Coldest Sunset</div>
          <p class="text-white text-base">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis
            eaque, exercitationem praesentium nihil.
          </p>
        </div>
        <div class="px-6 pt-4 pb-2">
          <span style="background-color: #ff0000c7;"
            class="inline-block rounded-full px-3 py-1 text-sm font-semibold text-white mr-2 mb-2">#photography</span>
          <span style="background-color: #ff0000c7;"
            class="inline-block rounded-full px-3 py-1 text-sm font-semibold text-white mr-2 mb-2">#travel</span>
          <span style="background-color: #ff0000c7;"
            class="inline-block rounded-full px-3 py-1 text-sm font-semibold text-white mr-2 mb-2">#winter</span>
        </div>
      </div>

      <div class="rounded overflow-hidden shadow-lg">
        <img class="w-full" src="/images/Mueble06.jpg" alt="Sunset in the mountains">
        <div style="color: white; background-color: #ff0000c7;" class="px-6 py-4">
          <div class="font-bold text-xl mb-2">The Coldest Sunset</div>
          <p class="text-white text-base">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis
            eaque, exercitationem praesentium nihil.
          </p>
        </div>
        <div class="px-6 pt-4 pb-2">
          <span style="background-color: #ff0000c7;"
            class="inline-block rounded-full px-3 py-1 text-sm font-semibold text-white mr-2 mb-2">#photography</span>
          <span style="background-color: #ff0000c7;"
            class="inline-block rounded-full px-3 py-1 text-sm font-semibold text-white mr-2 mb-2">#travel</span>
          <span style="background-color: #ff0000c7;"
            class="inline-block rounded-full px-3 py-1 text-sm font-semibold text-white mr-2 mb-2">#winter</span>
        </div>
      </div>

      <div class="rounded overflow-hidden shadow-lg">
        <img class="w-full" src="/images/Mueble04.jpg" alt="Sunset in the mountains">
        <div style="color: white; background-color: #ff0000c7;" class="px-6 py-4">
          <div class="font-bold text-xl mb-2">The Coldest Sunset</div>
          <p class="text-white text-base">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis
            eaque, exercitationem praesentium nihil.
          </p>
        </div>
        <div class="px-6 pt-4 pb-2">
          <span style="background-color: #ff0000c7;"
            class="inline-block rounded-full px-3 py-1 text-sm font-semibold text-white mr-2 mb-2">#photography</span>
          <span style="background-color: #ff0000c7;"
            class="inline-block rounded-full px-3 py-1 text-sm font-semibold text-white mr-2 mb-2">#travel</span>
          <span style="background-color: #ff0000c7;"
            class="inline-block rounded-full px-3 py-1 text-sm font-semibold text-white mr-2 mb-2">#winter</span>
        </div>
      </div>

      <div class="rounded overflow-hidden shadow-lg">
        <img class="w-full" src="/images/Mueble05.jpg" alt="Sunset in the mountains">
        <div style="color: white; background-color: #ff0000c7;" class="px-6 py-4">
          <div class="font-bold text-xl mb-2">The Coldest Sunset</div>
          <p class="text-white text-base">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis
            eaque, exercitationem praesentium nihil.
          </p>
        </div>
        <div class="px-6 pt-4 pb-2">
          <span style="background-color: #ff0000c7;"
            class="inline-block rounded-full px-3 py-1 text-sm font-semibold text-white mr-2 mb-2">#photography</span>
          <span style="background-color: #ff0000c7;"
            class="inline-block rounded-full px-3 py-1 text-sm font-semibold text-white mr-2 mb-2">#travel</span>
          <span style="background-color: #ff0000c7;"
            class="inline-block rounded-full px-3 py-1 text-sm font-semibold text-white mr-2 mb-2">#winter</span>
        </div>
      </div>

      <div class="rounded overflow-hidden shadow-lg">
        <img class="w-full" src="/images/Mueble06.jpg" alt="Sunset in the mountains">
        <div style="color: white; background-color: #ff0000c7;" class="px-6 py-4">
          <div class="font-bold text-xl mb-2">The Coldest Sunset</div>
          <p class="text-white text-base">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis
            eaque, exercitationem praesentium nihil.
          </p>
        </div>
        <div class="px-6 pt-4 pb-2">
          <span style="background-color: #ff0000c7;"
            class="inline-block rounded-full px-3 py-1 text-sm font-semibold text-white mr-2 mb-2">#photography</span>
          <span style="background-color: #ff0000c7;"
            class="inline-block rounded-full px-3 py-1 text-sm font-semibold text-white mr-2 mb-2">#travel</span>
          <span style="background-color: #ff0000c7;"
            class="inline-block rounded-full px-3 py-1 text-sm font-semibold text-white mr-2 mb-2">#winter</span>
        </div>
      </div>
    </div>
  </body>